@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: '--font-noto-sans', -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
}

.font-display {
  font-family: '--font-playfair', serif;
}

.font-mono {
  font-family: '--font-roboto-mono', monospace;
}
